html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    /* background-color:antiquewhite;*/
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
}
.login {
    width: 300px;
    padding:10px;
}
.flex{
    display:flex;
  
}

.paddingLeft{
    padding-left:20px;
}


.coach {
    width: 420px;
    height: 20px;
    border-radius: 7px;
}

.paddingLeft{
    padding-left:20px;
}
.white {
    color: white;
}
.whiteY {
    color: #EEE8AA;
}
#dialogContent{
    background-color:gray;
}
.padd{
    padding:20px;
}
.padd1 {
    padding: 10px;
    background-color: #374566;
    border-radius:5px;
}
.buttons {
    background-color: #374566;
    margin-bottom:10px;
}
.buttons1 {
    background-color: cornflowerblue;
    margin-bottom: 10px;
}
.red{
    background-color:red;
}
.center1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.marg{
    margin:3px;
}
@font-face {
    font-family: 'MyFontNormal2';
    src: url('fonts/Lordcorps[RUSbyPenka220]-Stencil.ttf') format(ttf);
    font-weight: normal;
    font-style: normal;
}
.green {
    background-color:lightgreen;
}
.marquee {
    height: 30px;
    overflow: hidden;
    position: relative;
  /*  background-color: #EEE8AA;*/
    color: #EEE8AA;
    white-space: nowrap;
  /*  opacity: 0.5;*/
}

.marquee-content {
    display: flex;
    position: relative;
    animation: marquee 40s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}
.image-container {
    position: relative;
    display: inline-block;
}

.info-box {
    position: absolute;
    bottom: 0%; 
    left: 0%;
    transform: translateX(15%);
    width: 300px;
    background-color: #2F4F4F;
    color: #F0E68C;
    text-align: center;
    border: 1px solid #F0E68C;
    border-radius: 3px;
    padding: 10px;
    box-shadow: 0px 8px 16px 0px #F0E68C;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.image-container:hover .info-box {
    visibility: visible;
    opacity: 1;
}
.inf {
    background-color: #2F4F4F;
    color: #EEE8AA;
    text-align: center;  
    padding:10px
}
.back_color {
    background-color: #2F4F4F;
}
/*.slider {
  overflow: hidden;
  width: 300px;*/ /* ширина трех фото */
/*}

.slider-window {
  display: flex;
  width: 600px;*/ /* общая ширина всех фото */
/*}

.slide {
  width: 100px;*/ /* ширина одного фото */
  /*flex-shrink: 0;
  text-align: center;
}*/
.ticket {
    width: 250px;
    display: inline-block;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 1px, rgba(0, 0, 0, 0.1) 0px 4px 2px, rgba(0, 0, 0, 0.2) 0px 8px 4px, rgba(0, 0, 0, 0.2) -3px -6px 8px, rgba(0, 0, 0, 0.2) 3px 8px 16px;
}

.s {
    font-size: 20px;
}

.s1 {
    color: black;
   
    opacity: 0.3;
    font-weight: bold;
    font-family: sans-serif;
}

.s2 {
    font-size: 15px;
    line-height: 2;
}

.s3 {
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15%;
    background-color: rgb(190, 62, 83);
    color: white;
}

.h {
    visibility: hidden;
}


.ticket:hover {
    transform: scale(1.2);
}