html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color:antiquewhite;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
}
.login {
    width: 300px;
    padding:10px;
}
.flex{
    display:flex;
}

.paddingLeft{
    padding-left:20px;
}

.font {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.coach {
    width: 420px;
    height: 20px;
    border-radius: 7px;
}

.paddingLeft{
    padding-left:20px;
}
.white{
    color:white;
}
#dialogContent{
    background-color:gray;
}

