html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    /* background-color:antiquewhite;*/
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
}
.login {
    width: 300px;
    padding:10px;
}
.flex{
    display:flex;
  
}

.paddingLeft{
    padding-left:20px;
}

.font {
    font-family: 'MyFontNormal', sans-serif;
}
.coach {
    width: 420px;
    height: 20px;
    border-radius: 7px;
}

.paddingLeft{
    padding-left:20px;
}
.white{
    color:white;
}
#dialogContent{
    background-color:gray;
}
.padd{
    padding:20px;
}
.padd1 {
    padding: 10px;
    background-color: #374566;
    border-radius:5px;
}
.buttons {
    background-color: #374566;
    margin-bottom:10px;
}
.buttons1 {
    background-color: cornflowerblue;
    margin-bottom: 10px;
}
.red{
    background-color:red;
}
.center1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.marg{
    margin:3px;
}
@font-face {
    font-family: 'MyFontNormal';
    src: url('fonts/IBMPlexSerif-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
.green {
    background-color:lightgreen;
}
#viewcontent {
    background-image: url("/Coaches/фон.jpg");
}
#contact-info {
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
