@model SportClub.Models.CangePasswordModel
@using Microsoft.AspNetCore.Http



<div class="flex" style="justify-content:center">
    <div class="div_reg2 padd">
        <form action="SaveNewPassword" method="post">
            @Html.AntiForgeryToken()
            <input type="hidden" asp-for="Id" />
            <div class="form-group" style="margin-left: 20px">
                <span class="font form-check-label whiteY">@Resources.Resource.password</span><br />
                <input type="password" asp-for="Password" class="form-control" /><br />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-left: 20px">
                <span class="font form-check-label whiteY">@Resources.Resource.passwordConf</span><br />
                <input type="password" asp-for="PasswordConfirm" class="form-control" /><br />
                <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
            </div>
            <div style="margin-left: 20px">
                <input type="submit" class="btn btn-outline-light buttonsGY" value="@Resources.Resource.changePassword" />
            </div>
        </form>
    </div>
</div>
      
    
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
