<h2> Группа &nbsp;&nbsp;@Context.Session.GetString("groupname")&nbsp;&nbsp; добавлена:</h2>
<br />

@* <a asp-area="" asp-controller="Admin" asp-action="BackToSpeciality" class="btn btn-primary buttons1">Назад</a> *@
<br />
