@model SportClub.Models.CangePasswordModel
@using Microsoft.AspNetCore.Http


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="center ">
        <form class="card c22 login">                        
            <input type="hidden" asp-for="@Model.Id"  />           
            <input type="password" asp-for="@Model.NewPassword" /><br />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
            <input type="password" asp-for="@Model.PasswordConfirm" /><br />
            <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
                    <div>
                        <input type="submit" class="y" value="Изменить пароль" />
                    </div>
                          
        </form>
    </div>
}
