@model SportClub.BLL.DTO.UserDTO
<form formaction="PutPassword" method="post">
    <input type="hidden" value="@Model.Id" name="id" />
    <span>ВВедите свой старый пароль</span><br />
    <input type="password" name="pass" /><br />
    <input tye="submit" value="Подтвердить" />
    </form>
