@model SportClub.BLL.DTO.TrainingIndDTO

<h1>Добавить тренировку</h1>
<form>
    <div>
        <input type="hidden" name="day" value="@Model.Day" />
        <input  name="dayName" value="@Model.DayName" />
        <input type="hidden" name="roomId" value="@Model.RoomId" />
        <input  name="roomName" value="@Model.RoomName" />
    </div>
</form>
