

@* @model SportClub.BLL.DTO.TrainingGroupDTO
<div class="flex" style="justify-content:space-around;">
<div class="div_reg2">
    <p class="font whiteY" style="font-size: 32px;  padding-top: 30px; text-align: center">
        Удаление груповой тренировки
    </p>
    <h1 class="font whiteY" style="font-size: 22px;  text-align: center"> @Resources.Resource.Confirmdeletion? </h1>

    <div class="row">
        <div>

            <div class="row">
           
                <div style="margin: 10px auto 10px auto;width: max-content;">
                    <form method="post" asp-action="DeleteTrainingGroup" asp-controller="Time"
                          style="width: max-content; float: left;height: 38px;">
                        <input type="hidden" asp-for="Id" name="id" />
                            <input class="btn btn-outline-light buttonsGY" style="min-width:200px;" type="submit" value="@Resources.Resource.Confirmdeletion" />
                    </form>
                        <a class="btn btn-outline-light buttonsGY" style="min-width:200px;" asp-route-RoomId="@Model?.RoomId" asp-action="RoomWithShedule" asp-controller="Time">@Resources.Resource.Cancel</a>
                </div><br />
            </div>

        </div>
    </div>
</div>
</div> *@