@{
    ViewData["Title"] = "Timetables";
}
@* @model MakeSheduleView
<h4>Графики:</h4>
<div>
    <a asp-area="" asp-controller="Time" asp-action="Back" class="btn btn-primary buttons">Назад</a>
</div>
<div class="flex" style="flex-wrap:wrap">
    @foreach (var item in Model.times)
    {
        <div>
            <form method="get">
                <div class="padd1">
                <input type="hidden" name="id" value="@item.Id" />
                @foreach (var t in item.Times)
                {
                    <input type="text" value="@t" style="width:150px;"> <br />
                }
                <br />
                    <input type="submit" style="margin-left:10px;" formaction="DeleteTimetable" readonly value="Удалить" class="btn btn-primary c2" />
            </div>
            </form>
        </div>
    }
  <form>
        <div class="padd1">
            <input value="ВЫХОДНОЙ" readonly style="width:120px;"  />
   </div>
   </form>

    </div> *@

