

@model IEnumerable<SportClub.BLL.DTO.RoomDTO>
<div class="center whiteY">
    <h2 style="width:50%;text-align:center;padding:5px; box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0.3em 0.3em 1em black;margin-top:30px;">
    @Resources.Resource.Shedule</h2></div>
<div class="flex" style="flex-wrap:wrap; justify-content:space-around">
@foreach (var item in Model)
{
    <div class="padd div_reg2" >
      <form method="post">
               
                    <h4 class="whiteY" style="text-align:center;">
                        @item.Name
                    </h4>
               
             <img src=@item.Photo width="200" height="200" alt="Photo" style="background-color:wheat" />
                
                <br />
                <br />
                <input type="hidden" value="@item.Id" name="RoomId" class="whiteY" />
                <input type="submit" asp-controller="Time" asp-action="RoomWithShedule" value=" @Resources.Resource.Shedule" class="buttons buttonsGY" style="padding:5px;border-radius:3px" />
                
            </form>
    </div>
}
</div>
