@{
    Layout = "_LayDop";
}
@{
    ViewData["Title"] = "SportClub";
}

<p id="color-changing-paragraph" style="font-size:50px;transition: color 2s ease; font-family: 'MyFontNormal'">
    Скоро открытие нового спортзала!!!</p>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var colors = ['red', 'yellow', 'purple']; // Массив цветов
        var currentIndex = 0;

        setInterval(function () {
            document.getElementById('color-changing-paragraph').style.color = colors[currentIndex];
            currentIndex++;

            if (currentIndex >= colors.length) {
                currentIndex = 0;
            }
        }, 2000); // 2000 миллисекунд = 2 секунды
    });
</script>
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}