@{
    Layout = "_LayDop";
}
@{
    ViewData["Title"] = "SportClub";
}

     @if (Context.Session.GetString("admin") == null && Context.Session.GetString("client") == null && Context.Session.GetString("coach") == null)
     {
       @*  <p id="color-changing-paragraph" style="padding-left:100px;font-size:20px;transition: color 2s ease; color:#BDB76B;text-align:center;font-weight:bold;">
          Скоро открытие нового спортзала!!!
        </p> *@
    <div class="marquee">
        <div class="marquee-content">
            <span> Скоро открытие нового спортзала &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; Поспешите приобрести абонементы &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;  До конца месяца скидка 30%  &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;  При покупке двух и более абонементов дополнительная скидка 10% &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; тел: +380971231231 &nbsp; +380503213213 </span> &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
            <span> Скоро открытие нового спортзала &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; Поспешите приобрести абонементы &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;  До конца месяца скидка 30%  &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;  При покупке двух и более абонементов дополнительная скидка 10% &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; тел: +380971231231 &nbsp; +380503213213 </span> &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
        </div>
    </div>
     }
<div style="display:flex;flex-direction:column;">
     <div style="display:flex;flex-direction:column;justify-content:flex-end;width:100%;height:70px; background-size:cover;background-image: url('/Coaches/фон5.jpg');">
    <div style="text-align:center;color:#F0E68C;font-size:50px;font-weight:bold;">SportClub</div>
     </div>
     <div class="flex" style="flex-wrap:wrap;">
        <div class="image-container" style="margin:10px;padding:15px;">
            <img  src="~/Coaches/75.jpg" width="380" height="250" alt="Photo" style="background-color:#2F4F4F;padding:2px;" />
            <div id="imm11" class="info-box">Групповые тренировки</div>
        </div>
        <div class="image-container" style="margin:10px;padding:15px;">
            <img src="~/Coaches/тренер1.jpg" width="380" height="250" alt="Photo" style="background-color:#2F4F4F;padding:2px;" />
            <div id="imm12" class="info-box">Индивидуальные тренировки</div>
        </div>
        <div class="image-container" style="margin:10px;padding:15px;">
            <img src="~/Coaches/йога.jpg" width="380" height="250" alt="Photo" style="background-color:#2F4F4F;padding:2px;" />
            <div id="imm13" class="info-box">Занятия йогой</div>
        </div>
       
    </div>
    <div id="inf10" class="inf" style="width:100%; background-size:cover;background-image: url('/Coaches/фон5.jpg');">
        Спортивные нагрузки помогают улучшить кровоснабжение мышц и регуляцию деятельности нервной системы. <br />
        Не только ваше тело станет красивее и подтянутее, но и ваши нервы станут значительно крепче! <br />
        Регулярные занятия спортом повышают иммунитет и улучшают самочувствие.<br />
        Во время тренировки организм вырабатывает эндорфины.
    </div>
    <div id="inf11" class="inf" style="display:none;width:100%; background-size:cover;background-image: url('/Coaches/фон5.jpg');">
        &nbsp; &nbsp;&nbsp; Групповые тренировки создают уникальную атмосферу занятий. Составляются таким образом, чтобы все занимающиеся чувствовали себя максимально комфортно,
        могли расслабиться и не стесняться своих движений и присутствия других людей. У нас представлено огромное количество групповых программ по различным направлениям.<br />
        &nbsp; &nbsp;&nbsp; Вы можете выбрать то, что Вам по душе, комбинировать тренировки, посещая параллельно сразу несколько занятий
    </div>
    <div id="inf12" class="inf" style="display:none; background-size:cover;background-image: url('/Coaches/фон5.jpg');">
        &nbsp; &nbsp;&nbsp; Личный тренер по фитнесу позволит вам комфортно заниматься
        и в кратчайшие сроки достигать желаемых результатов. В процессе тренировки инструктор все внимание уделяет одному
        человеку, сможет предупредить ошибки, поможет строго соблюдать технику выполнения упражненийю<br />
        Индивидуальный  подход к клиенту обеспечит наилучший результат.
    </div>
    <div id="inf13" class="inf" style="display:none; background-size:cover;background-image: url('/Coaches/фон5.jpg');">
        &nbsp; &nbsp;&nbsp;Занятия йогой улучшают равновесие, координацию и чувство баланса, ведь предусматривают выполнение контролируемых движений, концентрацию внимания и статические позиции.<br />
        Йога помогает повысить выносливость, укрепить кости и мышцы и стать более гибкими и подвижными.<br /> На наших занятиях йогой вы узнаете свое тело поновому.
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var colors = ['#FFFACD','#EEE8AA', '#F0E68C', '#BDB76B']; // Массив цветов
        var currentIndex = 0;
        var currentIndex2 = 0;
        var text = ["Скоро открытие нового спортзала!!!","Скидка на абонементы 30% !!!"]
        setInterval(function () {
            document.getElementById('color-changing-paragraph').style.color = colors[currentIndex];
            currentIndex++;

            if (currentIndex >= colors.length) {
                currentIndex = 0;
            }
        }, 2000);
        setInterval(function () {
            document.getElementById('color-changing-paragraph').textContent = text[currentIndex2];
            currentIndex2++;

            if (currentIndex2 >= text.length) {
                currentIndex2 = 0;
            }
        }, 4000);
        var inf0 = document.getElementById('inf10');
        var im1 = document.getElementById('imm11');
        var inf1 = document.getElementById('inf11');
        var im2 = document.getElementById('imm12');
        var inf2 = document.getElementById('inf12');
        var im3 = document.getElementById('imm13');
        var inf3 = document.getElementById('inf13');

        im1.addEventListener('click', function () {
            if (inf1.style.display === 'none') {
                inf1.style.display = 'block';
                inf2.style.display = 'none'; 
                inf3.style.display = 'none';
                inf0.style.display = 'none';
            } else {
                inf1.style.display = 'none';
                inf2.style.display = 'none';
                inf3.style.display = 'none';
                inf0.style.display = 'block';
            }
        });
        im2.addEventListener('click', function () {
            if (inf2.style.display === 'none') {
                inf2.style.display = 'block';
                inf1.style.display = 'none';
                inf3.style.display = 'none';
                inf0.style.display = 'none';
            } else {
                inf1.style.display = 'none';
                inf2.style.display = 'none';
                inf3.style.display = 'none';
                inf0.style.display = 'block';
            }
        });
        im3.addEventListener('click', function () {
            if (inf3.style.display === 'none') {
                inf3.style.display = 'block';
                inf1.style.display = 'none';
                inf2.style.display = 'none';
                inf0.style.display = 'none';
            } else {
                inf1.style.display = 'none';
                inf2.style.display = 'none';
                inf3.style.display = 'none';
                inf0.style.display = 'block';
            }
        });
    });
</script>
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}