<h2> Специальность &nbsp;&nbsp;@Context.Session.GetString("speciality")&nbsp;&nbsp; добавлена:</h2>
<br />


<form>

    @* <input type="hidden" name="day" value="@t1" />
    <input type="hidden" name="roomId" value="@Model.room.Id" />
    <input type="hidden" name="roomName" value="@Model.room.Name" />
    <input type="submit" formaction="AddTrainingGroup" value="Назад" />  <br /> *@
</form>
@* <a asp-area="" asp-controller="Admin" asp-action="BackToSpeciality" class="btn btn-primary buttons1">Назад</a> *@
<br />
