<h2> Специальность &nbsp;&nbsp;@Context.Session.GetString("speciality")&nbsp;&nbsp; добавлена:</h2>
<br />
<a asp-area="" asp-controller="Admin" asp-action="BackToSpeciality" class="btn btn-primary buttons1">Назад</a>
<br />
