<form asp-controller="Admin" method="post">
    @model SportClub.BLL.DTO.PostDTO
 
    <span class="whiteY">@Resources.Resource.DeleteCoachPost:</span><br />
        <input asp-for="Name" class="form-control card _c7" readonly />
        <input asp-for="Id" type="hidden" />
        <span asp-validation-for="Name" class="text-danger"></span>

</form>
