<form asp-controller="Admin" method="post">
    @model SportClub.BLL.DTO.SpecialityDTO

    <span class="whiteY">@Resources.Resource.DeleteCoachSpec:</span><br />
        <input asp-for="Name" class="form-control card _c7" readonly />
        <input asp-for="Id" type="hidden" />     
 
</form>
