<h2> Должность &nbsp;&nbsp;@Context.Session.GetString("post")&nbsp;&nbsp; отредактирована:</h2>
<br />
<a asp-area="" asp-controller="Admin" asp-action="BackToPost" class="btn btn-primary buttons1">Назад</a>
<br />
