<form asp-controller="Login" method="post" id="formSpec">
    @model SportClub.BLL.DTO.SpecialityDTO

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <span class="whiteY">@Resources.Resource.Speciality </span><br />
        <input asp-for="Name" class="form-control card _c7" />
        <input asp-for="Id" type="hidden" />
        <span asp-validation-for="Name" class="text-danger"></span>
</form>