<form asp-controller="Admin" method="post" id="formPost">
    @model SportClub.BLL.DTO.PostDTO

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <span class="whiteY">@Resources.Resource.Post </span><br />
        <input asp-for="Name" class="form-control card _c7" />
        <input asp-for="Id" type="hidden" />
        <span asp-validation-for="Name" class="text-danger"></span>
 
</form>
