<h2> @Resources.Resource.Post &nbsp;&nbsp;@Context.Session.GetString("post")&nbsp;&nbsp; @Resources.Resource.edited:</h2>
<br />
<a asp-area="" asp-controller="Admin" asp-action="BackToPost" class="btn btn-primary buttons1">@Resources.Resource.Back</a>
<br />
