<h2> @Resources.Resource.Speciality &nbsp;&nbsp;@Context.Session.GetString("speciality")&nbsp;&nbsp; @Resources.Resource.edited:</h2>
<br />
<a asp-area="" asp-controller="Admin" asp-action="BackToSpeciality" class="btn btn-primary buttons1">@Resources.Resource.Back</a>
<br />
