<h2> Специальност &nbsp;&nbsp;@Context.Session.GetString("speciality")&nbsp;&nbsp; отредактирована:</h2>
<br />
<a asp-area="" asp-controller="Admin" asp-action="BackToSpeciality" class="btn btn-primary buttons1">Назад</a>
<br />
