@model SportClub.BLL.DTO.AdminDTO
@if (@Model == null)
{
    <span>@Resources.Resource.unlogpass</span>
    <br />
}
else
{
    <div class="flex" style="justify-content:center;">
        <div class="div_reg2 padd">
            <form method="post">
                <input type="hidden" value="@Model.Id" name="id" />
                <span class="whiteY">@Resources.Resource.old</span><br />
                <input type="password" name="pass" /><br /><br />
                <input type="submit" class="buttonsGY" formaction="PutPassword" value="@Resources.Resource.Confirm" />

            </form>
        </div>
    </div>
}
