@model SportClub.BLL.DTO.AdminDTO
@if (@Model == null)
{
    <span>Введен неверный пароль</span> <br />
}
else{
<form  method="post">
    <input  value="@Model.Id" name="id" />
    <span>Введите свой старый пароль</span><br />
    <input type="password" name="pass" /><br />
    <input type="submit" formaction="PutPassword" value="Подтвердить" />
</form>
}
